<h1>What do you wan to mail?</h1>

<!--<form action="/rates" method="POST">-->
<!--    <p>Package Weight<input type="text" name = "weight" placeholder = "Package Weight"></p>-->
<!--    <p>Mail Type<input type="text" name = "mail" placeholder = "Letters Stamped"></p>-->
<!--&lt;!&ndash;    <input type="radio" id="stamped" name="mail">&ndash;&gt;-->
<!--&lt;!&ndash;    <label for="stamped">Letters Stamped</label>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="radio" id="metered" name="mail">&ndash;&gt;-->
<!--&lt;!&ndash;    <label for="metered">Letters Metered</label>&ndash;&gt;-->

<!--&lt;!&ndash;    <input type="radio" id="lenv" name="mail">&ndash;&gt;-->
<!--&lt;!&ndash;    <label for="lenv">Large Envelopes</label>&ndash;&gt;-->

<!--&lt;!&ndash;    <input type="radio" id="first" name="mail">&ndash;&gt;-->
<!--&lt;!&ndash;    <label for="first">First Class Package Service</label>&ndash;&gt;-->

<!--    <a href="/rates"><button>Find my rate</button></a>-->
<!--</form>-->