<h1>What do you wan to mail?</h1>

<form action="/rates" method="POST">
    <p>Package Weight<input type="text" name = "weight" placeholder = "Package Weight"></p>
    <p>Mail Type<input type="text" name = "mail" placeholder = "Letters Stamped"></p>
    <input type="radio" id="stamped" name="mail">
    <label for="stamped">Letters Stamped</label>
    <input type="radio" id="metered" name="mail">
    <label for="metered">Letters Metered</label>

    <input type="radio" id="lenv" name="mail">
    <label for="lenv">Large Envelopes</label>

    <input type="radio" id="first" name="mail">
    <label for="first">First Class Package Service</label>

    <a href="/rates"><button>Find my rate</button></a>
</form>