<h1>What do you wan to mail?</h1>

<form action="/rate" method="POST">
    <p>Package Weight in ounces: <input type="number" name="weight"></p>
    <label for="mails">Type of mail:</label>
    <select name="mail" id="mail">
        <option value="Letters Stamped">Letters Stamped 3oz max</option>
        <option value="Letters Metered">Letters Metered 3.5 oz max</option>
        <option value="Large Envelopes">Large Envelopes 13 oz max</option>
        <option value="First Class Package Service">First Class Package Service 2 pounds max</option>
    </select>

    <a><button type="submit">Find my rate</button></a>
</form>