<h1>Rates Page</h1>
<div>
    <p>The weight of your package is: <%= weight %> oz</p>
    <p>They mail type you picked is:<%= mail %></p>
    <p>The price for your package is: $<%= Number(price).toFixed(2) %></p>
</div>